.movie-item {
  margin: 10px;
}
.list-movie-item {
  list-style-type: none;
}
.movie-image-item {
  border: 2px solid black;
  height: 220px;
  width: 320px;
  /* padding: 10px; */
  border-radius: 8px;
}
