.navbar {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: rgba(0, 0, 0, 0.2);
  /* background-color: #131313; */
}
.logo-menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 50vw;
}

.home {
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  padding-left: 50px;
  color: white;
}
.popular {
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  padding-left: 35px;
  color: white;
}
.popular:hover {
  font-weight: 600;
  font-family: 'roboto';
}
.home:hover {
  font-weight: 600;
  font-family: 'roboto';
}
.search-profile-container {
  height: 10vh;
  display: flex;
  align-items: center;
  width: 30vw;
}

.search-input-container1 {
  height: 70%;
  width: 25vw;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
}

.search-input-container2 {
  height: 70%;
  width: 25vw;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  display: none;
}

.profile-container {
  height: 70%;
  background-color: white;
  display: flex;
  border-radius: 40px;
}

/* .inputSearch {
  height: 65%;
  width: 10vw;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  outline: none;
  padding-left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  align-self: center;
  border: 1px solid white;
  border-right: 0px;
} */
.inputClass {
  height: 65%;
  width: 10vw;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  padding-left: 10px;
  color: white;

  background-color: rgba(0, 0, 0, 0.6);
  align-self: center;
  border: 1px solid white;
  border-right: 0px;
}
input:focus {
  background-color: rgba(0, 0, 0, 0.6);
}
.search-btn {
  height: 65%;
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.search-btn1 {
  height: 65%;
  align-self: center;
  background-color: #292626;
  border-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  border: 1px solid white;
  border-left: 0px;
}

.search-icon {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  color: white;
}

.list-item {
  list-style-type: none;
}

.searchButton {
  align-self: center;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  cursor: pointer;
}
