.navbar {
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: rgba(0, 0, 0, 0.2);
}
.logo-menu-item {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 50vw;
}

.home {
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  padding-left: 50px;
  color: white;
}
.popular {
  font-family: Roboto;
  font-size: 20px;
  text-decoration: none;
  padding-left: 35px;
  color: white;
}
.popular:hover {
  font-weight: 600;
  font-family: 'roboto';
}
.home:hover {
  font-weight: 600;
  font-family: 'roboto';
}
.search-profile-container {
  height: 10vh;
  display: flex;
  align-items: center;
  width: 30vw;
}

.search-input-container {
  height: 70%;
  width: 25vw;
  padding-left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  height: 70%;
  background-color: white;
  display: flex;
  border-radius: 40px;
}

#inputEle {
  height: 65%;
  width: 10vw;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
  outline: none;
  padding-left: 5px;
  color: white;
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.6);
}
.search-btn {
  height: 65%;
  align-self: center;
  background-color: #181818;
  border-width: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.search-icon {
  font-size: large;
  align-self: center;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.list-item {
  list-style-type: none;
}
