.popular-main-container {
  background-color: #181818;
  width: 100vw;
}

.popular-movies {
  /* border: 5px solid green; */
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 20px;
}
